itusct_autonomous_weekly6/build-menuBotUI-Desktop-Debug/
itusct_autonomous_weekly6/menuBotUI/build-menuBotUI-Desktop-Debug/
itusct_autonomous_weekly6/menuBotUI/build-*/
itusct_autonomous_weekly6/*.pro.user
