# Ignore build, install, and log folders
/build/
/install/
/log/

# Ignore cmake-build-debug folders inside src directory
/src/**/cmake-build-debug/

# Ignore any compiled binaries or object files
*.o
*.out
*.exe
